// <RECURRING CLASS>================================================================================================================
// </RECURRING CLASS>===============================================================================================================

// <BUTTONS-btn-tubs>================================================================================================================================================
.btn {
   display: inline-flex;
   padding: 0 0;
   @media (min-width: 992px) {
      &:hover{
      }
   }
   &._fw {
      width: 100%;
   }
}
// </BUTTONS-btn-tubs>===============================================================================================================================================
