// <FONTS>==============================================================================================================================================
// <font connections>===================================================================================================================================
//&display=swap &subset=cyrillic-ext
// </font connections>==================================================================================================================================

// <icon fonts>=========================================================================================================================================
@import "_icons";
// </icon fonts>========================================================================================================================================

// <default fonts>======================================================================================================================================
$fontFamily: "";
// </default fonts>=====================================================================================================================================
// </FONTS>=============================================================================================================================================

// <variables>==========================================================================================================================================
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 854;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// </variables>=========================================================================================================================================

// <ZEROING OUT BASIC STYLES>===========================================================================================================================
@import "_nullstyle";
// </ZEROING OUT BASIC STYLES>==========================================================================================================================

// <MAIN GRID>==========================================================================================================================================
._container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
// </MAIN GRID>=========================================================================================================================================

// <CONNECTING FILES AND STYLES>========================================================================================================================
@import "_forms";
@import "_header";
@import "_main";
@import "_footer";
// </CONNECTING FILES AND STYLES>=======================================================================================================================

//<PRESSING THE FOOTER>============================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

main {
   flex: 1 1 auto;
}
//</PRESSING THE FOOTER>===========================================================================================================


